**/bin/
**/obj/
**/.vs/
**/.vscode/
**/.idea/
**/node_modules/
**/dist/
**/Logs/
angular/dist/
**/.git/
**/.gitignore
**/.dockerignore
**/Dockerfile*
**/docker-compose*.yml
**/k8s/
**/*.user
**/*.suo
**/*.sln.iml
test/
